markets:
  priority: # for each data type: [first in queue, next, ...]
    charts: [coinmarketcap, coingecko]
    coin_info: [coinmarketcap, coingecko]
    tickers: [coinmarketcap, coingecko, binancedex]
    rates: [fixer, coinmarketcap, coingecko]

  binancedex:
    api: https://dex.binance.org/api

  coinmarketcap:
    api: https://pro-api.coinmarketcap.com
    key: bfba4835-104a-43b6-8f18-29a9cec744e3
    currency: USD
    web_api: https://web-api.coinmarketcap.com
    widget_api: https://widgets.coinmarketcap.com

  coingecko:
    currency: USD
    api: https://api.coingecko.com/api

  fixer:
    currency: USD
    api: https://data.fixer.io/api
    key: #key

  assets: https://raw.githubusercontent.com/trustwallet/assets/master/blockchains # Assets url - details about TW tokens

storage:
  redis: redis://h:pfcc69419af34680a276e24779a6fea5e4e498a03b7088ed3e328307fbcd11a9d@ec2-54-205-75-138.compute-1.amazonaws.com:18939
  postgres:
    uri: postgres://kzvtwcttbbmxsg:0851992ded9eed0b66b5e68b2bf0634047fadc3b86c57900a0eb85cf624dc21c@ec2-3-224-97-209.compute-1.amazonaws.com:5432/d88rvuseoqratv
    logs: true
    apm: false

worker:
  tickers: 10m
  rates: 5m
  batch_limit: 3000

rest_api:
  mode: release # Possible values: "debug", "release"
  port: 8421 # Possible values: "debug", "release"
  tickers:
    cache_control: 1m
    respectable_market_cap: 0
    respectable_volume: 0
    respectable_update_time: 72h
  charts:
    cache_control: 10m
  info:
    cache_control: 10m
  cache:  15m
  request_limit: 500
  use_memory_cache: true
  update_time:
    memory_cache_tickers: 30s
    memory_cache_rates: 30s
